ul {
    display: flex;
    list-style-type: none;
    font-weight: bold;
}

li {
    display: inline;
    text-align: center;
    background-color: lightgray;
    border-top: 1px solid blue;
    border-radius: 15px 15px 0px 0px;
    margin: 0 1px 0 1px;
}

ul > li {
    display: inline-block;
    min-width: 49%;
}

li:not(.active) > ul {
    display: none;
}

li.active > ul {
    display: flex;
    margin-right: 50%;
    margin-left: -80%;
}

nav > ul > li {
    background-color: gray;
    border-top: 2px solid blue;
}

.selected {
    background-color: gray;
    border-top: 2px solid gray;
}

.active {
    background-color: white;
}

li.active li {
    padding: 15px;
    min-width: 33%;
}