body{
    margin: 0px;
}
#boks{
    width: 200%;
    height: 200%;
    position: fixed;
    opacity: 80%;
    background-color: rgb(1, 240, 248);
}

button,p{
    z-index:-1;
    position: relative;
    margin:35px;
}

#boks button {
    position: fixed;
    margin-top: -15px;
    margin-left: -100px;
    left:50%;
    top:50%;
}