li.otwarty .ikona {
    display: inline-block;
   background-position-y: -16px;
    float: left;
}
li.zamkniety .ikona {
    display: inline-block;
    background-position-y: 0px;
    float: left;
}
li.lisc .ikona {

    display: inline-block;
    background-position-y: 15px;
    float: left;
}
li{
    list-style: none;

}
li.zamkniety, li .otwarty, li .lisc{
    list-style: none;
    display: block;
    float: left;
    width: 100%;
}

div.tekst{
    display: inline-block;
    float: left;
}
div.ikona:hover{
    cursor: pointer;
}
div.ikona{
    background: url(pics/icons.png);
    width: 15px;
    height: 15px;
    float: left;
}