table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
}
td {
    text-align: right;
    padding: 8px;
}
tr:nth-child(even) {background-color: #EBE8FC;}
td:nth-child(1),td:nth-child(2) {text-align: left;}
tr:nth-child(1){border-bottom: 1px solid black}