body {
    color: chocolate;
    background-color: palegoldenrod;
    font-family: Georgia, "Times New Roman",
    Times, serif;
}
header{
    position: center;
    background-color: #235ba8;
    text-align: center;
    padding: 5px;
}
nav {
    text-align: left;
    position: fixed;
    border-width: 3px;
    border-style: dotted;
    background-color: #cfd6e0;
    float: left;
    width: 10%;
    height: available ;
    margin-top: 20px;
}
article {
    padding-left: 11em;
    position: center;
}
footer{
    border-top-style: solid;
    clear: both;
    bottom:0;
    width:100%;
    height:26px;
    margin-left: fill;
    margin-right: fill;
}
h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif
}
ol.roman{
    list-style-type: upper-roman;
    display: inline-block;
}
div.center{
    position: center;
    margin-left: 20%;
    margin-right: 20%;
}
ol.centrum{
    display: inline-block;
}
.author{
    text-transform: uppercase;
}
.title{
    font-style: italic;
}
.journal{
    font-style: oblique;
}
@media print{
    nav{
        display: none;
    }
}